*{
	margin:0;
	padding:0;
}
body{
	text-align:center;
	font-family: monospace;
	background-repeat: repeat;
	background-image: url('bg.png');
	background-position: fixed
}
h1{
	margin: 0.5em;
}
#wrap{
	margin:1em auto;
}
#middle{
	display: inline-block;
	margin:auto 4em;
	line-height: 1.3em;
	max-width:20em;
}
textarea{
	padding:0.2em;
}
textarea::placeholder{
	color:#999;
	padding:0.15em;
}
form{
	margin-top: 3em;
}
p{
	margin-top:1.5em;
}
button{
	padding:0.5em 1em;
	display: inline-block;
}
ul{
	text-align: left;
	margin:1em auto;
	max-width: 40em;
}