*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body{
	text-align:center;
	font-family: monospace;
	background-color:#def;
}
header{
	margin: 0.5em auto 1.5em auto;
}
header h2{
	font-weight: normal;
	font-size:1.2em;
}
#wrap{
	margin:1em auto;
}
#controls{
	display: inline-block;
	margin:auto 1em;
	line-height: 1.3em;
	text-align: left;
	min-width: 22em;
}
textarea{
	padding:0.2em;
}
textarea::placeholder{
	color:#999;
	padding:0.15em;
}
form{
	margin-top: 3em;
}
p{
	margin-top:1.5em;
	line-height: 1.5em;
}
button{
	padding:0.5em 1em;
	display: inline-block;
	vertical-align: text-bottom;
}
ul{
	text-align: left;
	margin:1em auto;
	max-width: 40em;
}
#warning{
	margin-bottom: 10em;
	display: none;
	max-width: 22em;
	color:#b00;
	background-color: rgba(255,255,255,0.3);
	padding:1em;
	border:1px dotted rgba(0,0,0,0.3);
	text-align: center;
}
#warning p{
	display: inline;
}
#warning p b{
}